.back-image {
  /* padding: 0px 30px; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  /* overflow: hidden; */
}
.img {
  margin: 40px;
  width: 100%;
  height: 100vh;

  position: relative;
}
.img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-Content {
  position: absolute;
  left: 180px;
  top: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  justify-content: space-between;
  height: 300px;
  width: 500px;
}

.main-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.first > span {
  display: flex;
  align-items: flex-start;
  font-size: 65px;
  width: 100%;
  color: white;
  height: 70px;
}
.second > span {
  display: flex;
  font-size: 15px;
  font-weight: 300;
  width: 100%;

  word-spacing: 3px;
  color: white;
}
.home-btn {
  width: 100%;
  display: flex;
}
.home-btn button {
  padding: 10px 25px;
  margin-right: 20px;
  font-size: 15px;
}
.shop-btn:hover {
  color: white;
  background-color: black;
}

/* ////////////////// banner /////////////// */

.banners {
  width: 100%;
  height: 170px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-items {
  height: 170px;
  width: 75%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-item {
  width: 170px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-item img {
  width: 100%;
}
.assin {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.assin h3 {
  font-weight: 500;
  font-size: 15px;
  color: rgb(38, 43, 44);
}
hr {
  width: 75%;
  opacity: 50%;
}

/* ///////////////// aout section /////////////////// */

.about-section {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  /* overflow: hidden; */
}
.about-container {
  width: 75%;
  height: 100%;

  display: flex;
  padding-top: 50px;
}
.about-left {
  width: 50%;

  display: flex;
  align-items: center;
}
.about-left > img {
  width: 100%;

  /* object-fit: cover; */
}
.about-right {
  width: 50%;
  height: inherit;

  display: flex;
  align-items: center;
}
.right-content {
  width: 460px;
  /* height: 100%; */

  margin-left: 80px;

  text-align: left;
}
.right-content > h4 {
  font-weight: 500;
  color: rgb(246, 170, 102);
}
.right-content > h2 {
  display: flex;
  flex-wrap: wrap;
  width: 455px;
  font-weight: 500;
  font-size: 35px;
  letter-spacing: 3px;
}
.right-content > p {
  width: 455px;
  display: flex;
  flex-wrap: wrap;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.8;
  color: rgb(164, 156, 155);
}
.readmore-btn {
  width: 100px;
  height: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.readmore-btn .line:hover {
  background-color: black;
}
.readmore-btn > div {
  font-size: 16px;
}
.line {
  width: 90px;
  height: 2px;
  background-color: rgb(246, 170, 102);
}

/* ////////////// shoe- banner  ////////// */

.banner-container {
  width: 100%;
  height: 100%;

  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-content {
  width: 100%;
  height: 100%;
  background-color: rgb(241, 241, 239);
  margin: 40px;
  padding-bottom: 40px;
}
.banner-head {
  width: 100%;
  height: 150px;
  background-color: rgb(241, 241, 239);
}
.banner-head-content {
  width: 100%;
  height: 110px;
  background-color: rgb(241, 241, 239);
}
.banner-body {
  width: 100%;
  height: 550px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-body-container {
  width: 85%;
  height: 500px;
  /* background-color: yellow; */
  position: relative;
}
.banner-img-content {
  position: absolute;
  width: 100%;
  height: 100%;

  top: 0;
}

.banner-head {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 40px;
}
.banner-head-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(160, 165, 167);
  font-weight: 300;
  font-size: 17px;
}
.top {
  width: 100%;
  height: 50%;
  /* background-color: red; */
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-content {
  width: 300px;
  height: 200px;
  /* background-color: bisque; */
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottom {
  width: 100%;
  height: 50%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.horizontal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.horizontal .line {
  width: 200px;
  height: 0.5px;
  background-color: lightgrey;
  opacity: 50%;
}
.left-align {
  align-items: flex-end;
  text-align: right;
}
.left-align h4 {
  display: flex;

  justify-content: flex-end;
}
.top-content h5 {
  display: flex;
  flex-wrap: wrap;
  width: 230px;

  font-weight: 400;
  font-size: 14px;
  color: rgb(160, 165, 167);
  line-height: 2;

  /* background-color: yellow; */
}
.top-content h4 {
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  font-size: 25px;
  font-weight: 500;

  margin: 0;
}
.banner-img-content p {
  color: rgb(246, 170, 40);
}
/* ////////////////////////// vision //////////// */

.vision {
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}
.vision-container {
  width: 100%;
  height: 500px;
  background-color: rgb(241, 241, 239);
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vsion-body {
  width: 100%;
  height: 350px;
  /* background-color: red; */
  margin: 0px 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vsion-body-content-left {
  width: 50%;
  height: 100%;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.vsion-body-content-right {
  width: 50%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.vsion-body-content-left p {
  width: 480px;
  display: flex;
  flex-wrap: wrap;

  text-align: left;
  font-size: 17px;
  color: rgb(151, 154, 155);
  line-height: 2;
}
.vision-logos {
  /* background-color: cyan; */
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.vision-rounded-logo {
  margin-left: 50px;
  width: 300px;
  height: 300px;
  /* background-color: red; */
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px dotted rgb(161, 160, 160);
}

/* /////////////////////////// customer feed back section ////////////////// */

.customer-feed-back {
  width: 100%;
  height: 100%;
  /* background-color: red; */

  display: flex;
  align-items: center;
  justify-content: center;
}
.customer-feed-back-body {
  width: 100%;
  height: 520px;
  /* background-color: yellow; */
  margin: 0px 120px;
}
.customer-feed-back-head {
  width: 100%;
  height: 150px;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 500;
  color: black;
}
.customer-feed-back-message {
  width: 100%;
  height: 250px;
  /* background-color: cyan; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.customer-feed-back-message-content {
  height: 100%;
  flex: 1;
  /* background-color: green; */
  margin: 0px 17px;
  border: 1px solid rgb(228, 230, 231);
  text-align: left;
  padding: 0px 20px;
}
.customer-feed-back-rating {
  width: 100%;
  height: 100px;
  /* background-color: blue; */
}
.customer-feed-back-message-content ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  padding: 0;

  color: rgb(246, 170, 40);
  /* background-color: red; */
}
.customer-feed-back-message-content p {
  font-size: 16px;
  font-weight: 500;
}
.feed-back-customer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.customer-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-right: 15px;
}
.customer-logo > img {
  width: 100%;
  object-fit: cover;
}
.customer-name {
  color: rgb(133, 112, 81);
  font-size: 18px;
}
.customer-feed-back-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(151, 154, 155);
  font-size: 15px;
  font-weight: 600;
}

/* ///////////////////////////home-bottom-banner///////////////////// */

/* /////////////////////// media queries ////////////////////// */
@media screen and (max-width: 768px) {
  .home-btn {
    flex-direction: column;

    width: 330px;
  }
  .img {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .back-image {
    width: 100%;
    height: 480px;
  }

  .img img {
    object-fit: cover;
  }
  .home-Content {
    top: 60px;
    left: 20px;

    height: 370px;
  }
  .first > span {
    font-size: 45px;
    font-weight: 500;
    height: 50px;
  }
  .first :last-child {
    margin-left: 30px;
  }

  .second > span {
    margin-top: 0;
    width: 350px;

    font-size: 10px;
    font-weight: 400;
    line-height: 30px;
  }
  .home-btn button {
    padding: 10px 10px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 15px;
  }
  /* /////////////////////banner////////////// */
  .banner-items {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-right: 23px; */
  }
  .banners {
    height: 45vh;

    display: flex;
    align-items: flex-start;

    justify-content: flex-start;
    width: 100%;
  }
  .banner-item {
    width: 140px;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* ///////////////////////about//////////////// */
  .about-container {
    flex-direction: column;
  }
  .about-left {
    width: 100%;
    height: 300px;
    display: flex;
  }
  .about-container {
    width: 100%;
  }
  .about-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 20px;
  }
  .about-right {
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .right-content {
    width: 100%;
    margin-left: 20px;
  }
  .right-content h4 {
    margin-top: 15px;
  }
  .right-content h2 {
    margin: 20px 0px;

    width: 100%;
    font-size: 25px;
    line-height: 34px;
  }
  .right-content > p {
    margin-bottom: 20px;
    font-size: 13px;
    width: 95%;
  }

  /* //////////////////shoe banner///////////// */

  .banner-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .banner-head span {
    width: 80%;
    font-size: 26px;
    font-weight: 500;
  }
  .banner-container {
    margin-top: 40px;
  }
  .banner-head-content {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner-body {
    height: 930px;
  }
  .banner-head-content span {
    width: 90%;
    font-size: 13px;
    line-height: 25px;
  }
  .banner-body-container {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner-body-container img {
    width: 100%;

    object-fit: fill;
  }
  .banner-img-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .top {
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
  }
  .top-content {
    width: 100%;
    height: 150px;
  }
  .left-align {
    align-items: flex-start;
    text-align: left;
  }
  .left-align h4 {
    justify-content: flex-start;
  }
  .top-content p {
    font-size: 14px;
    margin: 0;
  }
  .top-content h4 {
    font-weight: 500;
    font-size: 20px;
  }
  .top-content h5 {
    margin: 0;
    width: 80%;
  }
  .bottom {
    flex-direction: column;
    height: fit-content;
  }
  .top-content h4 {
    width: 100%;
  }

  /* /////////////////////vision ////// */
  .vsion-body {
    width: 100%;
    flex-direction: column;
    height: 100%;
  }
  .vision-container {
    height: 100%;
  }
  .vsion-body-content-left {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .vsion-body-content-left p {
    text-align: center;
    width: 95%;
  }
  .vision-logos {
    width: 100%;

    justify-content: space-around;
  }
  .vision-logos img {
    width: 70px;
  }
  .vsion-body-content-right {
    width: 100%;
  }
  .vision-rounded-logo {
    margin: 22px;
    width: 90%;
    height: 300px;
  }
  /* ///////feedbak////////////// */
  .customer-feed-back-head {
    font-size: 30px;
  }
  .customer-feed-back-message {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .customer-feed-back-body {
    margin: 0;
    height: 100%;
  }
  .customer-feed-back-message-content {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
